{% extends 'Layout.html' %}

{% block barra %}
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <ul class="nav navbar-nav">
            <li><a href="{% url 'Index' %}"> Inicio</a></li>
            <li><a href="{% url 'Noticias' %}"> Noticias </a></li>
            <li><a href="{% url 'Eventos' %}"> Eventos </a></li>
        </ul>
    </div>
</nav>
{% endblock %}

{% block top %}

    <h2 class="cen neg">Eventos</h2>
    
{% endblock %}

{% block body %}
    {% for evento in eventos %}
    <div class="cuadro">
        <div>
            <h4 class="cen color neg">{{evento.titulo}}</h4>
        </div>
        <div>
            <p class="neg">{{ evento.fecha }}</p>
        </div>
        <div>
            <p>{{ evento.resumen }}</p> 
        </div>
        <div>
            <a class="btn btn-info" href="{% url 'Detalle' id=evento.id %}">Ver</a>
        </div>
    </div>
    {% endfor %}
    
{% endblock %}